 @font-face {
            font-family: iransans;
            src: url(../fonts/IRANSansWeb\(FaNum\)_Light.ttf);
        }  
        @font-face {
            font-family: iran;
            src: url(../fonts/IRANSansWeb\(FaNum\).ttf);
        }  
        *{
            font-family: iransans;
        }
        body {
            background-color: #ffdcb3b7;
            margin: 0;
            margin-bottom: 30px;

        }

          .nav{
            z-index: 4;
            
            border-top: 2px solid #7a4920;
            background-color: #ffe6ca;
            position: fixed;
            height: 55px;
            width: 100%;
            bottom: 0;
            display: flex;
            flex-direction: row;

         }
         .nav a{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /* background-color: #635347; */
            text-decoration: none;
         }
        .nav div{
            width: 100%;
            /* background-color: #578051; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* width: 100px; */
            border-left: 2px solid #7a4920;
        }
        .nav div a span{
            font-size: 13px;
            color: #2e2323;
            color: #7a4920;


        }
        .nav div svg{
            font-size: 20px;
            color: #7a4920;
        }

        #ways{
            border-left:none;

        }
        .all{
            display: flex;

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }
        .head{
            display: flex;
            justify-content: center;
            margin: 30px 0;
        }
        header{
            background-color: #b26f3d;
            width: 50%;
            color: #ffdcb3;
            font-size: 10px;
            text-align: center;
            border-radius: 5px;
        }



        .each{
        position: relative; 
        margin-bottom: 40px;
        padding: 5px;
        border-radius: 10px;
        background-color: #ffffff;
        padding-bottom: 75px;
        /* margin: 0; */
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 10px 2px #ebab5c;
        
        }
        img{
            border-radius: 10px;
            width: 150px;
            height: 180px;
        }

        .name{
            position: absolute;
            bottom: 16%;
            /* text-align: center; */
            font-size: 14px;
        }
        .code{
            position: absolute;
            bottom: 6%;
            /* margin-top: 30px; */
            color: rgb(100, 100, 100);
            font-size: 12px;
        }
